/* ESTILO GENERAL*/
body {
  margin: 0 auto;
}

/* ESTILO DE ETIQUETA <nav>*/
nav {
  height: 105px;
  width: 100%;
  background:#2c3e50;
  box-sizing: border-box;
  padding-top: 20px;
  position: fixed;
  z-index: 6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-uppercase {
  text-transform: uppercase;
}

nav p a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

nav li a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}

li a:hover {
  color:#18bc9c;
}

nav li {
  display: inline-block;
}

.titulo , .menu{
  display: inline-block;
}

.titulo {
  padding-left: 100px;
}

.menu {
  padding-left: 550px;
}

/* ESTILO DE ETIQUETA <header>*/

header {
  text-align: center;
  width: 100%;
  height: 750px;
  padding-top: 200px;
  background:#18bc9c;
  box-sizing: border-box;
}

header p {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 75px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 20px;
}

header i {
  color: white;
}

header i:after {
  display: inline-block;
  margin: 8px 15px 8px 15px;
  height: 5px;
  content: " ";
  background-color: white;
  width: 100px;
}

header div {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  margin-top: 25px;
}

/*ESTILO DE ETIQUETA <seccion> class portfolio*/

.portfolio {
  text-align: center;
  width: 100%;
  height: 900px;
  box-sizing: border-box;
}

.portfolio p {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: bold;
  padding-top: 80px;
}

.portfolio i {
  color: #2c3e50;
}

.portfolio i:after {
  display: inline-block;
  margin: 8px 15px 8px 15px;
  height: 5px;
  content: " ";
  background-color: #2c3e50;
  width: 100px;
}

.portfolio img {
  width: 350px;
  height: 250px;
  margin: 15px;
}

/*ESTILO DE ETIQUETA <seccion> class about*/

.about {
  text-align: center;
  width: 100%;
  height: 600px;
  background:#18bc9c;
  box-sizing: border-box;
}

.about .subtitulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: bold;
  padding-top: 110px;
  color: white;
}

.about i {
  color: white;
}

.about i:after {
  display: inline-block;
  margin: 8px 15px 8px 15px;
  height: 5px;
  content: " ";
  background-color: white;
  width: 100px;
}

.descripcion p {
  display: inline-block;
  width: 25%;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: left;
  margin-left:30px;
  line-height: 1.5;
}

.about a {
  display: inline-block;
  color:white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  height: 35px;
  width: 200px;
  border:2px solid white;
  padding-top:8px;
  border-radius: 5px 5px 5px 5px;
  margin-top: 10px;
  }

.about a:hover {
  background: white;
  color:#18bc9c;
  }

/*ESTILO DE ETIQUETA <seccion> class contact me*/

.contact-me {
  text-align: center;
  width: 100%;
  height: 900px;
  box-sizing: border-box;
  margin-bottom: 110px;
}

.contact-me p {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: bold;
  padding-top: 80px;

}

.contact-me i {
  color: #2c3e50;
}

.contact-me i:after {
  display: inline-block;
  margin: 8px 15px 0px 15px;
  height: 5px;
  content: " ";
  background-color: #2c3e50;
  width: 100px;
}

form {
  margin-top: 50px;
}

form input {
  display: block;
  border: none;
  font-size: 25px;
  width: 50%;
  margin-left: 300px;
  padding: 30px;
  outline: none;
  color: #868e96;
  opacity: 0.8;
}

form hr {
  width: 50%;
  color:#868e96;
  opacity: 0.3;
}

.last {
  margin-top: 160px;
}

.contact-me span {
  display: block;
  background: #18bc9c;
  width: 80px;
  height: 50px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px 5px 5px 5px;
  box-sizing: border-box;
  padding-top: 10px;
  margin-top: 20px;
  margin-left: 340px;
}

.contact-me span:hover {
  color: white;
  background: #128f76;
}

/*ESTILO DE ETIQUETA <footer>*/

footer {
  width: 100%;
  height: 345px;
  background: #2c3e50;
  color: white;
  text-align: center;

}

footer div {
  position: absolute;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

footer div:nth-child(1) {
  margin-left: 180px;
}

footer div:nth-child(2) {
  left: 450px;
}

footer div:nth-child(3) {
  width: 350px;
  right: 50px;
}

.detalle {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 45px;
}

.texto {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 0;
}

footer p:nth-child(3) {
  height: 50px;
  line-height: 1.5;
}

footer i {
  border-radius: 50% ;
  border: 2px solid white;
  margin-left: 3px;
  margin-top: 3px;
}

.fa-twitter, .fa-linkedin, .fa-dribbble {
  padding: 15px 15px 15px 15px;
}

.fa-google-plus {
  padding: 15px 12px 15px 12px;
}

.fa-facebook {
  padding: 15px 18px 15px 18px;
}

.copyright {
  font-family: 'Lato', sans-serif;
  position: relative;
  top: 310px;
  right: 5px;
}

footer figure i:hover {
  background: white;
  color:#18bc9c;
}

footer figure a {
  color: white;
}

#letra-verde {
  color: #18bc9c;
}

#letra-verde:hover {
  text-decoration: underline;
}
